<table class="table">
  <thead>
    <tr>
      <th>Id</th> 
      <th>Project</th>
      <th>Vessel</th>
      <th>Category</th>
      <th>Issued by</th>
      <th>Status</th>
      <th>Creation date</th>
      <th>Closing date</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @comment.id %></td>
      <td><%= @comment.project.reference %></td>
      <td><%= @comment.vessel.nil? ? nil : @comment.vessel.hull_number %></td>
      <td><%= @comment.category.reference %></td>
      <td><%= @comment.user.username %></td>
      <td><%= @comment.status ? 'Closed' : 'Open' %></td>
      <td><%= @comment.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= @comment.closing_date.nil? ? nil : @comment.closing_date.strftime("%d/%m/%Y") %></td>
      <td><%= @comment.title %></td>
      <td><%= @comment.body %></td>
    </tr>
  </tbody>
</table>

<% unless @replies.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Iteration</th> 
        <th>Issued by</th>
        <th>Remark</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @replies.each_with_index do |reply, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= reply.user.username %></td>
          <td><%= reply.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @comment.status %>
  <%= link_to('Open Comment', comment_path(@comment, comment: {status: false, closing_date: nil}), method: :put, confirm: "Are you sure?", class: "button is-dark")  %>
<% else %>
  <%= link_to('Close Comment', comment_path(@comment, comment: {status: true, closing_date: DateTime.now}), method: :put, confirm: "Are you sure?", class: "button is-dark")  %>
<% end %>

<%= link_to 'New Reply', new_reply_path(comment: @comment), class: "button is-dark"  %>
<%= link_to 'Edit', edit_comment_path(@comment), class: "button is-dark"  %>
<%= link_to 'Back', comments_path, class: "button is-dark"  %>