<table class="table">
  <thead>
    <tr>
      <th>Id</th> 
      <th>Project</th>
      <th>Hull Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vessels.each do |vessel| %>
      <tr>
        <td><%= link_to vessel.id, vessel %></td>
        <td><%= vessel.project.reference %></td>
        <td><%= vessel.hull_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Vessel', new_vessel_path(vessel: @vessel) %> |
<%= link_to 'Back', comments_path %>